@import "bootstrap/bootstrap.less";

body {
	background-image: url(../images/bg.png);
}

#tour {
	height: 23px;
	color: #333333;
	text-align: center;
	padding-top: 5px;
	overflow: hidden;

	a {
		color: #527e46;
		font-weight: bold;
	}
}

@max-width: 980px;

#topbar {
	background: url(../images/topbar.png) repeat-x;
	height: 65px;
	padding-top: 6px;

	.inner {
		width: @max-width;
		height: 30px;
		margin: 0 auto;
		padding-top: 8px;

		.topbar-element {
			float: left;

			&.logo {
				width: 202px;
				height: 32px;
				background: url(../images/logo.png) no-repeat;
				margin-right: 19px;
			}

			ul {
				list-style: none;

				li {
					float: left;
					font-family: 'Open Sans', sans-serif;

					a {
						color: #fff;
						text-transform: uppercase;
					}
				}
			}

			&.menu {
				li {
					margin-top: 6px;
					padding-right: 13px;
					font-weight: 600;

					&.current {
						a {
							color: #71beff;
						}
					}

					&.separator {
						background: url(../images/separator.png) repeat-y;
					}

					a {
						font-size: 15px;
					}
				}
			}

			&.login {
				float: right;
				width: 156px;
				height: 30px;
				background-color: #81c567;

				ul {
					margin: 0 0 9px 17px;

					li {
						margin-top: 5px;

						&.separator {
							width: 1px;
							height: 13px;
							background-color: #70a860;
							margin: 8px 11px;
						}

						a {
							font-size: 14px;
							text-shadow: -1px -1px 0 #60934d;
						}
					}
				}
			}
		}
	}
}